@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="d-flex flex-wrap justify-content-evenly">
    <a class="btn btn-success btn-sm" asp-action="DefaultLogInSQl" asp-controller="RabbitLogs">
        لاگ های پیشفرض SQL
    </a>
    <a class="btn btn-primary btn-sm" asp-action="JsonLogInSQl" asp-controller="RabbitLogs">
        لاگ های json  در SQL
    </a>
    <a class="btn btn-dark btn-sm" asp-action="JsonLogToTextFile" asp-controller="RabbitLogs">
        دریافت فایل log
    </a>
</div>